html
  box-sizing: border-box

*, *::before, *::after
  box-sizing: inherit

label, button, input, select
  cursor: pointer

textarea
  resize: vertical

[disabled]
  cursor: default

img
  max-width: 100%
  height: auto

body
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
  font-size: 16px
  line-height: 1
  font-weight: normal
  color: #000
  overflow-x: hidden


// install normalize.css with npm install normalize.css and then imported it with @import 'normalize.css';
// npm install reset-css
// @import 'reset-css'

// @import '@/assets/helpers'

// +font-face(Courgette, courgette/Courgette, 400)